<body fxFlex="100%"
      fxFlex.lt-md="100%"
      ngClass.gt-sm="body-margin">
<md-toolbar color="accent">
  <button md-button color="primary" (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  ￼
  <h1>Banking Loan Analyzer</h1>
</md-toolbar>

<md-sidenav-container style="height: 88vh;">

  <md-sidenav #sidenav mode="side" class="sidenav-style">
    Sidenav!
  </md-sidenav>

  <md-tab-group>

    <md-tab label="Loan Details">
      <div
           #gridView
           [ngStyle]="{ 'width.px': divSize, 'font-size.px': fontSize }"
           [fxShow]="setColNum(gridView.style.width)">
        <app-loan></app-loan>

      </div>
    </md-tab>

    <md-tab label="Disbursements">

    </md-tab>

    <md-tab label="Intrest Rates">
      <div
        #gridView
        [ngStyle]="{ 'width.px': divSize, 'font-size.px': fontSize }"
        [fxShow]="setColNum(gridView.style.width)">

      </div>
    </md-tab>

    <md-tab label="Transactions">
      <p></p>

    </md-tab>

    <md-tab label="Visualizations">

    </md-tab>
  </md-tab-group>

</md-sidenav-container>

<footer style="background: green; min-height: 100px">This is footer</footer>
</body>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
